/* Custom Properties */
:root {
    --primary-clr-pb: hsl(225, 100%, 94%);      /*pale blue*/
    --primary-clr-bb: hsl(245, 75%, 52%);       /*bright blue*/  
    --primary-clr-w: white;                     /*duh*/

    --neutral-clr-vpb: hsl(225, 100%, 98%);     /*very plae blue*/
    --neutral-clr-desatb: hsl(224, 23%, 55%);   /*desaturated blue*/
    --neutral-clr-db: hsl(223, 47%, 23%);       /*dark blue*/
}


/* Reset properties */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
main,
h1,
p {
    margin: 0;
}


/* General styles */
body {
    /* min-width: 375px; */
    background-color: var(--primary-clr-pb);
    background-image: url(images/pattern-background-mobile.svg);
    background-size: 100% 50%;
    background-repeat: no-repeat;
    
}

main {
    max-width: 100%;
    padding-top: 12.5%;
}


/* General typography */
html {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 10px;  /* Use x1.6 Rem for 16px */
}

p {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--neutral-clr-desatb);
    line-height: 1.5;
}

button p {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.6rem;
    font-weight: 900;
}


/* Order Summary Card */
.order-summary-card {
    background-color: var(--primary-clr-w);
    border-radius: 1em;
    width: 40%;
    min-width: 330px;
    overflow: hidden;
    margin: auto;
}

.text-section {
    padding: 0 2em;
    margin: auto;
}


/* Hero */
.hero img {
   max-width: 100%;
   margin-bottom: 3rem;
}


/* Text Section */
h1 {
    color: var(--neutral-clr-db);
    font-weight: 900;
    margin: 0 auto; 
    text-align: center;
    margin-bottom: 2rem;
}

.description {
    margin: 0 auto;
    padding: 0 0.75em;
    text-align: center;
    margin-bottom: 3rem;
}


/* Plan Section */
.plan-summary {
    background: var(--neutral-clr-vpb);
    border-radius: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    padding: 1.8em 1.3em;
}

#plan-type {
    font-weight: 900;
    color: var(--neutral-clr-db);
}

#plan-change {
    font-size: 1.3rem;
    font-weight: 700;
}


/* Order Section */
.order-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

#proceed {
    background-color: var(--primary-clr-bb);
    border: none;
    border-radius: 1rem;
    margin-bottom: 2rem;
    padding: 1em;
}

#proceed-text {
    color: var(--neutral-clr-vpb);
}

#cancel {
    background-color: var(--primary-clr-w);
    border: none;
    border-radius: 1rem;
}

@media (min-width: 600px) {
    body {
        background-color: var(--primary-clr-pb);
        background-image: url(images/pattern-background-desktop.svg);
        background-size: 100% 50%;
        background-repeat: no-repeat;
    }
}


/* Attribution */
.attribution {
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}